{% extends 'base.html.twig' %}

{% block title %}Edit Roles{% endblock %}

{% block body %}
<section class="section mt-3">
    <div class="container-fluid">
    <h1>Modifier Roles</h1>

    {{ include('roles/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_roles_index') }}">back to list</a>
    </div>
</section>
{% endblock %}
