{% extends 'base.html.twig' %}

{% block title %}Liste des rôles{% endblock %}

{% block body %}
<section class="table-components mt-5">
    <div class="container-fluid">

        <div class="row">
            <div class="col-6">
                <h2>Liste des rôles</h2>
            </div>
            <div class="col-6 text-end">
                <a href="{{ path('app_roles_new') }}" class="btn btn-primary">Ajouter un rôle</a>
            </div>
        </div>
        <div class="row">
            <div class="col-10 mt-3">
                <button id="exportCSV" onclick="exportCSV()" class="btn btn-warning">CSV</button>
                <button id="exportExcel" onclick="exportExcel()" n class="btn btn-warning">Excel</button>
                <button id="exportPDF" onclick="exportPDF()" class="btn btn-warning">PDF</button>
            </div>
            <div class="col-2 text-end mt-3">
                <input type="text" id="search-all" class="form-control" placeholder="Search in tableau">
            </div>
        </div>
        <table class="table table-striped mt-3" id="myTable">
            <thead class="table-primary p-1">
            <tr>
                <th><h6>Libellé</h6></th>
                <th><h6>Action</h6></th>
            </tr>
            <!-- end table row-->
            </thead>
            <tbody>
            {% for role in roles %}
                <tr>
                    <td class="min-width">
                        <p>{{ role.libelle }}</p>
                    </td>
                    <td>
                        <div class="action">
                            <a class="text-dark-emphasis" href="{{ path('app_roles_edit', {'id': role.id}) }}">
                                <i class="lni lni-pencil"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">no records found</td>
                </tr>
            {% endfor %}
            <!-- end table row -->
            </tbody>
        </table>


    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset('js/search.js') }}"></script>
{% endblock %}
