{% extends 'base.html.twig' %}

{% block title %}New Roles{% endblock %}

{% block body %}
<section class="section mt-3">
    <div class="container-fluid">
        <h1 class="mb-3">Créer un nouveau rôle</h1>

    {{ include('roles/_form.html.twig') }}

    <a href="{{ path('app_roles_index') }}">back to list</a>
    </div>
</section>
{% endblock %}
