{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle catégorie{% endblock %}

{% block body %}
<section class="section">
    <div class="container-fluid">
    <h1>Créer une nouvelle catégorie</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('app_category_index') }}">Retour à la liste</a>
    </div>
</section>
{% endblock %}
