{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle sortie{% endblock %}

{% block body %}
<section class="section mt-3">
    <div class="container-fluid">
        <h1 class="mb-3">Créer une nouvelle sortie</h1>

    {{ include('sorties/_form.html.twig') }}

    <a href="{{ path('app_sorties_index') }}">Retour à la liste</a>
    </div>
</section>
{% endblock %}
