<form method="post" action="{{ path('app_moyen_reglement_delete', {'id': moyen_reglement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ moyen_reglement.id) }}">
    <button class="btn">Delete</button>
</form>
