{% extends 'base.html.twig' %}

{% block title %}Modifier Moyen de Règlement{% endblock %}

{% block body %}
<section class="section">
    <div class="container-fluid">
    <h1>Modifier Moyen de Règlement</h1>

    {{ include('moyen_reglement/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_moyen_reglement_index') }}">Retour à la liste</a>

    </div>
</section>
{% endblock %}
