{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau moyen de règlement{% endblock %}

{% block body %}
<section class="section">
    <div class="container-fluid">
    <h1>Ajouter un nouveau moyen de règlement</h1>

    {{ include('moyen_reglement/_form.html.twig') }}

    <a href="{{ path('app_moyen_reglement_index') }}">Retour à la liste</a>
    </div>
</section>
{% endblock %}
