{% extends 'base.html.twig' %}

{% block title %}Modifier le client{% endblock %}

{% block body %}
<section class="section">
    <div class="container-fluid">
    <h1>Modifier le client</h1>

    {{ include('client/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_client_index') }}">Retour à la liste</a>

    </div>
</section>
{% endblock %}
