{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau client{% endblock %}

{% block body %}
<section class="section mt-3">
    <div class="container-fluid">
    <h1 class="mb-3">Créer un nouveau client</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('app_client_index') }}">Retour à la liste</a>
    </div>
</section>
{% endblock %}
