{% extends 'base.html.twig' %}

{% block title %}Modifier Fournisseur{% endblock %}

{% block body %}
<section class="section">
    <div class="container-fluid">
    <h1>Modifier Fournisseur</h1>

    {{ include('fournisseur/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_fournisseur_index') }}">Retour à la liste</a>

    </div>
</section>
{% endblock %}
