{% extends 'base.html.twig' %}

{% block title %}Edit EnvoiSms{% endblock %}

{% block body %}
<section class="section">
    <div class="container-fluid">
    <h1 class="text-center mt-3">Edit EnvoiSms</h1>

    {{ include('envoi_sms/_form.html.twig', {'button_label': 'Modifier'}) }}

        <div class="text-center mt-3">
            <a class="btn btn-primary" href="{{ path('app_envoi_sms_index') }}">Retour à la liste</a>
        </div>

    </div>
</section>
{% endblock %}
